html, body {
margin : 0;
padding : 0;
}
body {
background-color : #fff;
color : #222;
font-family : "Trebuchet MS", Helvetica, sans-serif;
font-size: 1.2em;
}
header, footer, aside, nav, article, section, input {
display : block;
}
main {
margin : 0 auto;
width : 100%;
}
h1 {
font-size : 2em;
margin : 0.5em 0;
padding : 0;
}
h2 {
font-size : 1.4em;
margin : 0;
padding : 1em 0;
}
h3 {
font-size : 1.4em;
margin : 1em 0;
}
h4 {
font-size : 1.2em;
margin : 0;
}
p {
padding : 1em 0;
line-height: 1.4em;
}
img {
border : 0;
margin : 0;
padding : 0;
}
blockquote {
background : #fff;
border-left : 0.5em solid #eaefb1;
margin: 1em 0;
padding : 1em;
}
blockquote p {
margin : 0;
padding : 0 1em 0 0;
}
::selection {
background : #000;
color : #fff;
text-shadow : none;
}
.wrapper {
width : 80%;
margin : 0 auto;
max-width : 100%;
}
header#header {
background-color : #fff;
box-shadow: 0 3px 5px rgba(18, 18, 18, 0.3);
height : 6em;
position: -webkit-sticky; /* Safari */  
position: sticky;
padding : 0;
width : 100%;
top : 0;
left : 0;
z-index : 5000;
}
.flex_respnav{
width: 100%;
}
.flex_respnav a{
color: #222;
text-decoration: none;
}
#hero .divider {
border : #fff solid 2px;
margin: 1em auto;
text-align: center;
}
.divider {
display : block;
border : #6C6C74 solid 2px;
border-radius : 0.2em;
text-align : left;
width : 30%;
}
div#mobilenav {
display : none;
}
#mobilenav a {
color : #222;
font-size: 2em;
}
nav {
display: flex;
align-items: center;
height: 6em;
}
ul.section_list {
display: flex;
justify-content: flex-end;
list-style: none;
margin: 0;
padding: 0 0 0 0;
height: auto;
width: 100%;
}
ul.section_list li{
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
ul.section_list li a {
color : #222;
padding-left: 0.5em;
text-align : center;
text-decoration : none;
transition : all 2s ease;
}
ul.section_list li:hover {
color: #000;
margin : 0;
position : relative;
}
ul.section_list li a:hover {
color : #000;
}
ul.section_list li.active {
margin : 0;
}
ul.section_list li.active a {
color : #000;
font-weight : bold;
}
/* hero section */
#hero {
height: calc(50vh - 6em);
max-height : 1200px;
overflow: hidden;
position : relative;
transition : all 1s;
width : 100%;
}
#default #hero {
height: calc(100vh - 6em);
max-height : 1200px;
overflow: hidden;
position : relative;
transition : all 1s;
width : 100%;
}
#hero img{
height: auto;
position:absolute; 
top:0; 
bottom:0; 
margin: auto;
opacity: 0.7;
width:100%;
z-index: -1;
}
@-webkit-keyframes fade-in {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@keyframes fade-in {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
.fadein{
-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
#hero .fadein {
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 90%;
position : relative;
text-align : center;
z-index: 1;
}
#hero::after {
content: ""; 
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(120deg, #222, #000);
opacity: 1;
z-index: 0;
}
#hero h1, #hero p {
color : #fff;
}
#hero h1 {
font-size : 3em;
margin : 0;
}
#hero h2 {
color : #e6e6e6;
margin : 0;
}
a.btn {
background-image: linear-gradient(to right,#232334 0,#2F2D42 51%,#272A3F 100%);
border: 1px solid #272A3F;
border-radius: 5px;
color: #fff;
padding: 1em;
margin: 1em 0;
text-decoration: none;
text-transform: uppercase;
vertical-align: middle;
-moz-box-shadow: 0 0 1px #000;
-webkit-box-shadow: 0 0 1px #000;
box-shadow: 0 0 1px #000;
transition: .5s;
background-size: 200% auto;
max-width: 100%;
}
a.btn:hover,a.btn:hover{
color:#fff;
background-position:right center;
padding: 1em;
}
#hero h3 {
border-top : 1px solid #6d6c6b;
color : #fff;
font-weight : normal;
margin : 0 0 2em 0;
padding : 0.8em 0 0 0;
}
/* main content */
p.highlight {
background : #e6edde;
display : block;
text-align : center;
padding : 1em;
margin : 1em 0;
overflow : hidden;
text-transform : uppercase;
}
p.highlight a {
color : #ed604e;
text-decoration : none;
}
article img {
background : #fff;
border-radius: 5px;
height : auto;
max-width : 100%;
overflow : hidden;
padding : 0;
transition : all 0.2s linear;
}
div.flex-container {
align-items: flex-start;
border-radius : 0.5em;
display : flex;
justify-content: space-between;
height : 100%;
overflow : hidden;
padding: 2em 0;
}
div.flex-item {
flex-direction : column;
flex-grow: 1;
align-items : center;
padding : 0em;
width: 50%;
}
div.flex-container figure{
margin: 0;
padding: 0;
}
div.flex-container figure.right{
text-align: right;
}
article.live:nth-last-child(odd) div.flex-container {
flex-direction: row-reverse;
}
article.live:nth-last-child(even) div.flex-container figure {
text-align: right;
}
article.live:nth-last-child(odd) div.flex-container figure {
text-align: left;
}
article.live:nth-last-child(odd) div.header img {
margin-right: 3em;
}
article.live:nth-last-child(even) div.header img {
margin-left: 3em;
}
article.intro div.header img{
margin-left: 2em;
}
article.live h1, div.live h1 {
font-size : 2em;
}
article.live h2, div.live h2 {
font-size : 1.4em;
}
article.live h3, div.live h3 {
font-size : 1.3em;
}
article h2 a{
color: #222;
text-decoration: none;
}
article ul{
color : #433f40;
padding : 0;
position : relative;
}
article ul li{
list-style: none;
line-height: 1.5em;
}
article ul li:before{
content: "\2714";
color: #008302;
padding: 0 1em 0 0;
}
div.excerpt, div.body {
margin : 0;
line-height : 1.4em;
}
div.excerpt a, div.body a {
color: #000;
text-decoration: underline;
}
div.excerpt a, div.body a:hover {
text-decoration: none;
}
div.social{
display: grid;
grid-template-columns: 20% 20%;
grid-gap: 1em;
margin-top: 2em;
}
/* responsive video embed iframe */
.videowrapper {
position : relative;
padding-bottom : 56.25%;
padding-top : 0;
height : 0;
margin-bottom : 1em;
}
.videowrapper iframe {
position : absolute;
top : 0;
left : 0;
width : 100%;
height : 100%;
}
/* article list paginator */
div.paginator {
clear : both;
display : block;
margin : 0;
overflow : hidden;
padding : 0;
width : 100%;
}
div.paginator span.disabled {
display : none;
}
div.paginator p#paginator {
text-align : center;
margin : 0;
width : 100%;
}
p#paginator a {
color : #222;
text-decoration : none;
}
p#paginator a:hover {
color : #999;
text-decoration : underline;
}
/* section above footer */
section#bright {
background-image: linear-gradient(to right, #28273D, #16151F);
box-shadow: 0 0 1em rgba(18, 18, 18, 0.2);
clear : both;
color: #fff;
overflow : hidden;
text-align : left;
padding : 2em 0;
position : relative;
}
section#bright h2{
text-align: center;
}
/* gallery */
ul.imagescroll{
display: flex;
overflow: auto;
white-space: nowrap;
margin: 0;
padding: 0;
text-align: center;
scroll-snap-type: x mandatory;
}
ul.imagescroll li {
flex: 0 0 auto;
list-style: none;
padding: 1em;
}
ul.imagescroll img{
box-shadow: 0 3px 5px rgba(18, 18, 18, 0.3);
border-radius: 5px;
scroll-snap-align: center;
}
/* page footer */
footer#footer {
background: #0F0D16;
color: #fff;
overflow: hidden;
position: relative;
}
footer#footer a{
text-decoration: none;
}
footer#footer a:hover{
text-decoration: underline;
}
footer#footer a#back-top{
color: #fff;
}
footer#footer a#back-top:hover{
color: #fff;
}
footer#footer div.wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
ul.social-set {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1em;
padding: 0;
margin: 0;
}
ul.social-set li {
list-style: none;
margin: 0;
}
ul.social-set li a{
color: #fff;
}
@media screen and (max-width:959px) {
body {
font-size : 1.2em;
}
header#header {
height : auto;
z-index : 5000;
margin : 0;
padding : 0;
overflow : hidden;
text-align : center;
width : 100%;
max-width : 100%;
}
nav{
display: block;
height: auto;
position: relative;
text-align: center;
max-height: 100vh;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}
nav ul.section_list {
display: none;
flex-wrap: wrap;
justify-content: flex-end;
list-style: none;
margin: 0;
padding: 0;
height: auto;
width: 100%
}
nav ul.section_list li{
line-height: 2em;
padding: 5%;
margin: 0;
width: 90%;
text-align: center;
-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;
}
nav ul.section_list li.active{
border-bottom: 1px solid #222;
}
nav ul.section_list li.active:last-child{
border-bottom: 0px solid #222;
}
div#mobilenav {
display: inline-block;
}
div.flex_respnav {
align-items: center;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 2em 0;
text-align: left;
}
h1 {
font-size : 2.0em;
max-width : 100%;
}
h2 {
font-size : 1.4em;
max-width : 100%;
}
h3 {
max-width : 100%;
}
#hero {
position : relative;
max-width : 100%;
}
#hero {
height: auto;
max-height : auto;
overflow: hidden;
padding: 0 0 0 0;
position : relative;
transition : all 1s;
width : 100%;
}
#default #hero {
height: auto;
max-height : auto;
overflow: hidden;
padding: 0 0 0 0;
position : relative;
transition : all 1s;
width : 100%;
}
#hero img{
min-height: 120vh;
object-fit: cover;
}
#hero h1 {
font-size : 2em;
padding-top: 2em;
}
#hero h2 {
font-size : 1.2em;
padding-top: 2em;
}
#hero h1 a {
border-bottom : 0;
}
a.btn {
font-size: 1rem;
}
img {
height : auto;
padding : 0;
margin : 0;
max-width : 100%;
}
article figure {
text-align : center;
}
div.flex-container {
border-radius : 0.5em;
display : flex;
flex-direction: column;
flex-wrap: wrap;
height : auto;
overflow : hidden;
height : 100%;
overflow : hidden;
padding: 2em 0;
}
div.flex-item {
flex-direction : column;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0;
align-items : center;
width: 100%;
}
article.live:nth-last-child(2n) div.flex-container figure{
text-align: left;
}
article.live:nth-last-child(2n+1) div.flex-container figure{
text-align: left;
}
article.live:nth-last-child(odd) div.header img {
margin-right: 0em;
}
article.live:nth-last-child(even) div.header img {
margin-left: 0em;
}
article.intro div.header img{
margin-left: 0;
}
article.intro figure img,div.intro figure img{
margin: 0;
width: 100%;
}
div#main article.intro figure img{
margin: 0;
width: 100%;
}
div.intro figure img{
margin: 0;
width: 100vw;
}
div#main article figure img{
width: 90%;
margin: 5% 5% 0 5%;
}   
div.flex-container figure.right{
margin-top: 2em;  
}

article.live:nth-last-child(odd) div.flex-container {
flex-direction: column;
}
article.live:nth-last-child(2n+1) div.header{
margin: 0;
}
footer.article_footer{
bottom: -2em;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
position: relative;
width: 100%;
}
footer.article_footer p{
margin: 0.5em 0;
}
div.social {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 1em;
margin-top: 2em;
}
.details{
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;
}
div#main div#enquiry {
overflow : hidden;
position : relative;
width : 100%;
}
section#bright h2{
padding-left: 5%;
}
footer#footer .wrapper {
text-align : center;
}
footer#footer div.wrapper {
display: block;
margin: 0 auto;
padding: 0;
text-align : center;
}
footer#footer ul.social-set {
margin : 0;
padding : 0;
text-align : center;
width : 100%;
max-width: 100%;
}
footer#footer p{
padding: 0;
margin: 0;
line-height: 2em;
}
footer#footer p.back_top{
border-top: 1px solid #000;
bottom: 0;
border-radius: 0.2em;
margin: 1em 0 0 0;
padding: 1em 0;
position: relative;
width: 100%;
}
ul.social-set{
justify-content: space-between;
grid-gap: 0;
}
ul.social-set li {
align-items: center;
padding: 2em 0em 0 0em;
}
}
